@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* === Global Text === */
:root {
  --ifm-link-color: #10B981;
  --ifm-color-primary: #10B981;
  --ifm-font-family-base: 'Inter', sans-serif;
  --ifm-font-family-monospace: 'Fira Code', monospace;
  --ifm-color: #111111;
  --ifm-description-color: #666666;
  --ifm-background-color: #DFDEDD;
  --ifm-alt-background-color: #FEFDFC;
  --ifm-border-color: #A3A3A3;
}

[data-theme='dark'] {
  --ifm-link-color: #62C98E;
  --ifm-color-primary: #62C98E;
  --ifm-font-family-base: 'Inter', sans-serif;
  --ifm-font-family-monospace: 'Fira Code', monospace;
  --ifm-color: #E3E3E3;
  --ifm-description-color: #8C8C8C;
  --ifm-background-color: #1B1B1D;
  --ifm-alt-background-color: #222222;
  --ifm-border-color: #555555;
}

.DocSearch {
  --docsearch-primary-color: var(--ifm-color-primary);
  --docsearch-text-color: var(--ifm-color);
  --docsearch-muted-color: var(--ifm-description-color);
  --docsearch-container-background: rgba(0, 0, 0, 0.4);
  --docsearch-modal-background: var(--ifm-alt-background-color);
  --docsearch-searchbox-background: var(--ifm-background-color);
  --docsearch-searchbox-focus-background: #ffffff;
  --docsearch-hit-color: var(--ifm-color);
  --docsearch-hit-active-color: #000000;
  --docsearch-hit-background: #ffffff;
  --docsearch-footer-background: var(--ifm-background-color);
  --docsearch-key-gradient: linear-gradient(
          135deg,
          var(--ifm-background-color),
          var(--ifm-alt-background-color)
  );
}

[data-theme='dark'] .DocSearch {
  --docsearch-primary-color: var(--ifm-color-primary);
  --docsearch-text-color: var(--ifm-color);
  --docsearch-muted-color: var(--ifm-description-color);
  --docsearch-container-background: rgba(0, 0, 0, 0.7);
  --docsearch-modal-background: var(--ifm-alt-background-color);
  --docsearch-searchbox-background: var(--ifm-background-color);
  --docsearch-searchbox-focus-background: #000000;
  --docsearch-hit-color: var(--ifm-color);
  --docsearch-hit-active-color: #000000;
  --docsearch-hit-background: var(--ifm-background-color);
  --docsearch-footer-background: var(--ifm-background-color);
  --docsearch-key-gradient: linear-gradient(
          135deg,
          var(--ifm-alt-background-color),
          var(--ifm-background-color)
  );
}

a:hover {
  color: var(--ifm-link-color);
}

h1, h2, h3, h4, h5, h6, p {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}

code, pre {
  font-family: 'Fira Code', monospace;
}

/* === Navbar === */
:root {
  --ifm-navbar-background-color: var(--ifm-alt-background-color);
  --ifm-navbar-link-color: var(--ifm-color);
  --ifm-navbar-height: 60px;
}

:root {
  --ifm-navbar-shadow: 0 2px 6px rgba(255,255,255,0.3);
}

[data-theme='dark'] {
  --ifm-navbar-shadow: 0 2px 6px rgba(0,0,0,0.3);
}

.navbar__brand {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 1.3rem;
}

.navbar__item a {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}

.navbar-icon-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;

  border-radius: 50%;
  transition: background-color 0.2s ease, transform 0.15s ease;
}

.navbar-icon-link:hover {
  background-color: var(--ifm-color-emphasis-300);
}

/* === Footer === */
:root {
  --ifm-footer-background-color: var(--ifm-alt-background-color);
  --ifm-footer-color: var(--ifm-color);
  --ifm-footer-link-color: var(--ifm-color);
  --ifm-footer-link-color-hover: var(--ifm-link-color);
}

.footer {
  font-weight: 500;
  font-size: 0.9rem;
  font-family: 'Inter', sans-serif;
  background-color: var(--ifm-footer-background-color);
  padding: 2rem 1rem;
}

.footer a {
  color: var(--ifm-footer-link-color) !important;
}

.footer a:hover {
  color: var(--ifm-footer-link-color-hover) !important;
}

.footer__col:first-child {
  justify-self: start;
  text-align: left;
}

.footer__col:last-child {
  justify-self: end;
  text-align: right;
}

@media (max-width: 768px) {
  .footer__links {
    grid-template-columns: 1fr;
    row-gap: 1.5rem;
  }

  .footer__col {
    justify-self: start !important;
    text-align: left !important;
  }
}
